In [1]:
3 + 3

6

### estoy escribiendo con numeral es el tamaÃ±o de la tipografia

- guion para hacer esquemas:
  - en la segunda haces espacio y guion

In [2]:
a = 45

tipo de variables:
 - texto > string
 - numeros
   - enteros > int
   - decimales > float
- bool > verdadedo y falso

In [4]:
name = "natalia"

In [14]:
print(name)
# print lo que hace es que tu une todos los resultados de nombre en una sola variable

natalia

### operador de asignacion es el signo "igual" se la asignamos a un valor de una variable

In [6]:
edad = 45

In [7]:
type(edad)

int

eso es el tipo de variables, poner type y la variable entre parentesis

In [8]:
edad.upper

AttributeError: 'int' object has no attribute 'upper'

In [10]:
# numero decimal
altura = 1,65
# si pongo una coma lo toma como dos numeros enteros

In [11]:
altura = 1.70

In [12]:
type(altura)

float

In [13]:
print(altura)

1.7

In [15]:
# print es quue es la variable
# type es que tipo de variable es

In [19]:
altura_2 = "1.70"
# si tiene comillas es un string

In [17]:
type(altura)

str

In [20]:
altura == altura_2

True

se pueden comparar con doble igual
se puedo comparar mayor, menor, etc

In [22]:
# operadores algebraicos
v1 = 5
v2 = 6

In [23]:
v1+v2

11

# operadores aritmeticos

In [1]:
5/2

2.5

In [2]:
# division de enteros
5//2

2

In [3]:
# acceder al residuo de una division
5 % 2

1

In [4]:
divmod(5,2)
# te da el entero y el residuo

(2, 1)

In [7]:
# si tienes 127 cajas y las repartes en 3
# cuantas cajas le tocan a cada uno

127//3

42

In [8]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [9]:
#convertir numero decimal a entero
int(1.70)

1

In [10]:
#un numero entero a decimal
float (1)

1.0

In [11]:
int("cuatro")

ValueError: invalid literal for int() with base 10: 'cuatro'

In [13]:
"hola".split(2)

TypeError: must be str or None, not int

In [17]:
saludo = "hola"

In [18]:
print(saludo)

hola

In [ ]:
saludo.upper()

'HOLA'

In [24]:
print(saludo.upper())
#aqui solo me lo esta mostrando, no o esta almacenando

HOLA

In [28]:
saludo_may = saludo.upper()
#asi lo almaceno

In [27]:
print(saludo_may)

HOLA

In [31]:
#tambien podemos darle un nuevo valor a la variable saludo
#eso se llama machacar la variable
saludo = saludo.upper()

In [30]:
print(saludo)

HOLA

In [32]:
nombre = "Natalia" 
apellido = "herrera"

In [35]:
nombre = "german"
apellido = "billoch"

In [36]:
print( "bienvenida", nombre,apellido)

bienvenida german billoch

In [37]:
print(nombre)

german

In [40]:
nombre = input("dime tu nombre")